<div class="container">
  <div class="jumbotron" style="text-align: center;">
    <h1>{{albumResponse.albumTitle}}</h1>
    <p>{{albumResponse.albumDescription}}</p>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-dm-12" *ngFor="let photo of albumResponse.photos">
      <div class="card-body">
        <h5 class="card-title">
          <img class="card-img-top"  style="height: 300px;" src="{{photo.photoUrl}}"  alt="Card image cap">
        </h5>
      </div>
    </div>
  </div>
  <div  style="text-align: center;">
  <hr>
  <button class="btn btn-primary mr-2" (click)="onAddPhotos(albumResponse.id)" [disabled]="isGuest">Add Photo</button>
    <button class="btn btn-secondary" (click)="redirectToHome()">Back To Home</button>
  <hr>
  </div>
</div>

