<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0091cd;">
  <a class="navbar-brand" href="/home">Photo Album</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" >
      <a class="nav-item nav-link" routerLink="/create-album" *ngIf="!isGuest">Create Album<span class="sr-only">(current)</span></a>
    </div>
    <div class="navbar-nav  ml-auto ">
      <p class="nav-item nav-link">{{userName}} ({{userRole}})</p>
      <a class="nav-item nav-link" (click)="onLogout()">Logout</a>
    </div>
  </div>
</nav>
<br>
<div>
  <router-outlet></router-outlet>
</div>
